<h2>Please log in down below:</h2>
    <form action="/users/login"
          method="POST"
          enctype="application/x-www-form-urlencoded">
      <label class="login" for="usrnme">Username:</label>
      <input class="login" type="text" name="username" />
      <br />
      <br />
      <label class="login" for="pwd">Password:</label>
      <input class="login" type="password" id="pwd" name="password" />
      <br />
      <br />
      <input class="login" type="submit" id="subbtton" name="subbtton" />
    </form>