<h2>Please create a post down below:</h2>
    <form action="/posts/create"
          method="post"
          enctype="multipart/form-data">
      <label class="login" for="title">Please enter a title for your post:</label>
      <input class="login" type="text" id="title" name="title" />
      <br/>
      <br/>
      <label class="login" for="discuss">Please enter a small description for your post:</label>
      <input class="login" type="text" id="discuss" name="description" />
      <br/>
      <br/>
      <br/>
      <label class="login" for="picture">Please choose a picture for your post:</label>
      <input type="file" id="pic" required name="uploadImage" accept="image/png, image/jpeg" multiple/>
      <br/>
      <br/>
      <br/>
      <input type="checkbox" id="AUP" name="AUP" required>
      <a for="AUP"> I have read the <a href="">Acceptable Use Policy</a>
      <br/>
      <br/>
      <input class="login" type="submit" id="subbtton" name="subbtton" />
    </form>
